<div class="text-center">
    <img src="/logo.png" width="500px" height="250px" class="rounded py-0">
    <h1 class="color-purple">Welcome to Cook Book!</h1>
    <h2 class="pb-5 color-purple">The best recipe collection app in the world</h2>

    <a class="btn btn-primary login" href="/login">Log In</a><br><br>
    <p>Don't have an account?</p>
    <a class="btn btn-success register" href="/register">Register</a>
</div>